@charset "UTF-8"

*{
   margin: 0px;
   padding: 0px; 
   font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vw;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/pngtree-light-wood-background-png-image_1875863.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 706px;
    width: 349px;
    background: url('../imagens/png-transparent-mobile-phone-display-blank-mobile-phone-white-phone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 62px;
    left: 10px;  
    width: 330px; 
    height: 584px;
}